/* Common styles */
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.highlight {
    color: #ff5e94;
}

#highlight {
    color: #ff5e94;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

/* Top content styles */
.top-content {
    background: linear-gradient(rgba(0, 0, 0, 0.8)100%, rgba(0, 0, 0, 0.5)100%), url('../images/bg-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 30px;
}

/* Navigation bar styles */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    z-index: 111;
}

.logo {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 700;
}

.nav-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin: 0 15px;
}

.nav-item a {
    text-decoration: none;
    color: white;
}

.nav-item:hover a {
    color: #ff5e94;
}

/* Hero styles */
.hero {
    color: white;
    display: grid;
    place-items: center;
    transform: translateY(50%);
}

.hero img {
    width: 200px;
    border: 8px solid rgba(34, 32, 32, 0.6);
    border-radius: 200px;
}

.hero h1 {
    font-size: 55px;
    text-transform: uppercase;
}

/* About styles */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
}

.about-left img {
    width: 380px;
}